body {
	background-image: url(../img/bg.jpg);
}

h1 {
	color:pink;
}

p {
	color:white;
}

.left {
	
}

.right {
	
}

.blackboard {
	width:70%;
	margin-left:auto;
	margin-right:auto;
	background-color:black;
	margin-top:77px;
	padding:10px;
}

.picture {
	width:80%;
	height:400px;
	background-color:black;
}

.lights {
	height:500px;
	width:90%;
	background-image:url(../img/lights.png);
}